<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer Start -->
<div id="footer" class="container-fluid bg-footer text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5" style="color: #000;">
        <div class="col-lg-4 col-md-12 pr-3 pr-xl-5">
            <h5 class="text-uppercase" style="font-size: 16px;font-weight: 700;">Liên hệ</h5>
            <p class="mb-2" style="font-size: 12px;">Số điện thoại: 180027266</p>
            <p class="mb-2" style="font-size: 12px;">Địa chỉ: · Số 9, Minh Khai, Hai Bà Trưng, Hà Nội</p>
            <p class="mb-2" style="font-size: 12px;">Email: catto.support@gmail.com</p>
        </div>
        <div class="col-lg-5 col-md-12 pr-3 pr-xl-5 footer-res">
            <h5 class="text-uppercase" style="font-size: 16px;font-weight: 700;">Về Catto</h5>
            <p class="mb-2" style="font-size: 12px;">Số điện thoại: 180027266</p>
            <p class="mb-2" style="font-size: 12px;">Địa chỉ: · Số 9, Minh Khai, Hai Bà Trưng, Hà Nội</p>
            <p class="mb-2" style="font-size: 12px;">Email: catto.support@gmail.com</p>
        </div>

        <div class="col-lg-3 col-md-12 pr-3 pr-xl-5">
            <h5 class="text-uppercase" style="font-size: 16px;font-weight: 700;">Chính sách</h5>
            <p class="mb-2" style="font-size: 12px;">Số điện thoại: 180027266</p>
            <p class="mb-2" style="font-size: 12px;">Địa chỉ: · Số 9, Minh Khai, Hai Bà Trưng, Hà Nội</p>
            <p class="mb-2" style="font-size: 12px;">Email: catto.support@gmail.com</p>
        </div>
    </div>
    <div class="row px-xl-5 pt-5" style="color: #000;">
        <div class="col-lg-4 col-md-1 pr-3 pr-xl-5">
        </div>
        <div class="col-lg-5 col-md-12 pr-3 pr-xl-5 personal-re" style="border-top: 4px solid #D9D9D9;font-size: 14px;">
            <h5 class=" mb-4 text-uppercase"></h5>
            <p class="mb-2 text-center">Catto - cửa hàng bán sản phẩm dành cho mèo uy tín, chất lượng</p>
            <p class="mb-2 text-center">Được vận hành bởi NQD</p>
        </div>
        <div class="col-lg-5 col-md-12 pr-3 pr-xl-5 personal-res" style="font-size: 12px;">
            <h5 class=" mb-4 text-uppercase"></h5>
            <p class="mb-2 text-center">Catto - cửa hàng bán sản phẩm dành cho mèo uy tín, chất lượng</p>
            <p class="mb-2 text-center">Được vận hành bởi NQD</p>
        </div>
        <div class="col-lg-3 col-md-12 pr-3 pr-xl-5">
        </div>
    </div>
</div>
<!-- Footer End -->
</body>
</html>